* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  overflow-x: hidden;
}

.freccia-back {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 6;
  display: flex;
  transform: rotate(180deg);
}

.freccia-back img {
  width: 70px;
  height: auto;
  transition: transform 0.2s;
  z-index: 6;
}

.freccia-back:hover img {
  transform: scale(1.1);
}

.work-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.text-container {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 90%;
  margin: 0 auto;
  border-radius: 12px;
}

.text-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .text-container h1 {
    font-size: 2rem;
  }

  .text-container p {
    font-size: 1rem;
  }
}
